h1 {
    text-align: center;
}
nav {
    position: fixed;
    right: 20px;
    top: 10px;
}
.home_welcome {
    text-align: center;
}
.party_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}