h1 {
    text-align: center;
}
nav {
    position: fixed;
    right: 10px;
    top: 10px;
}
.up {
    font-size: 50px;
}
.home_welcome {
    text-align: center;
}
.party_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}
.race_item {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
    border: solid black thin;
}